{% extends "layout.html" %}
{% block content %}


<div class="media content-section">
    <div class="media-body">
        <!-- Header section -->
        <div class="article-metadata">
            <h1>Project Grouper</h1>
            <strong>Dev Team: </strong> 
            <small>Daniel Bae, Bryson Murray, Garrett Lubin, and Alysha Pennypacker</small> <br><br>
        </div>
            <h3> Vision Statement: </h3>
            <p> We would like to develop a tool allowing users to work collaboratively and build projects that are of mutual interest.  With an emphasis on welcoming users of all experience levels, we seek to create a pathway
                 to mutual learning through project development, professional networking, and endless opportunities for hands on experience working with desired technologies.  </p>

            <h3> Motivation: </h3>
            <p> Our motivation for this project stems from our shared experience as students pursuing this program in an entirely remote capacity, with an interest in collaborating and often finding ourselves 
                unsure how to go about connecting with others interested in similar projects. While it can be challenging to find others with shared project interest and availability, project experience can have a
                profound impact on future job opportunities and networking opportunities. Additionally, we find that working in a group setting can also promote self-accountability and make a daunting project more manageable. </p>
            
            <br> <hr color="white">
            <h3> Special Credits </h3>
                <p> 
                    We'd like to give a special thanks to <a href="https://www.youtube.com/channel/UCCezIgC97PvUuR4_gbFUs5g">Corey Shaefer</a> as his Flask tutorial series helped us greatly in building out our project. <br> <br>
                    If you'd like to like how to build a website like this - check out the tutorial series below! <br> <br> 
                      
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/MwZwr5Tvyxo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe> <br> <br>

                    Highly reccomend his channel for almost anything Python related. Corey's a very gifted teacher, he can both: paint the larger picture and also get into the nitty gritty through hands on practice.
                </p>
    </div>
</div>
{% endblock content %}