{% extends "layout.html" %}
{% block content %}
    {% for project in projects %}
        <article class="media content-section">
            <!-- Add user profile image  -->
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + project.owner.profile_image) }}">
            <!-- Content -->
            <div class="media-body">
                <!-- Header section -->
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ project.owner.first_name }} {{ project.owner.last_name }}</a>
                    <small class="text-muted">{{ project.creation_timestamp.strftime('%B %d, %Y') }}</small>
                </div>
                <!-- Body section, each project's title is link to project -->
                <h2><a class="article-title" href="{{ url_for('project', project_id=project.id) }}">{{ project.name }}</a></h2>
                <p class="article-content">{{ project.desc }}</p>
            </div>
            </article>
    {% endfor %}
{% endblock content %}